* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.frame {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-weight: 700;
}